[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.26.4"
ipykernel = "6.29.5"
torch = "2.4.0"
torchvision = "0.19.0"
matplotlib = "*"
tqdm = "*"
scikit-learn = "*"
requests = "*"
bs4 = "*"

[dev-packages]
ipykernel = "6.29.5"

[requires]
python_version = "3.12"
